* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 350px;
  height: fit-content;
  background-color: aqua;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid skyblue;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

label {
  display: block;
  font-size: 20px;
  margin: 10px 0;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
}

input[type="submit"] {
  margin-top: 20px;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

input[type="submit"]:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: black;
}
